@import "../../../../src/sass/variable";
@import "../../../../src/sass/mixin";
.ContainerRegister {
    width: 100%;
    margin-top: 140px;
    @include respond(laptop) {
        margin-top: 230px;
    }
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    .Wrapper {
        width: 89%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        &__register {
            display: flex;
            background: #546ce8;
            padding: 0 20px;
            width: 10%;
            height: 7vh;
            @include respond(laptop) {
                height: 7vh;
            }
            border-radius: 0 15px 0px 0;
            justify-content: center;
            align-items: center;
            span {
                color: #FFFFFF;
                font-size: 18px;
                text-transform: uppercase;
                white-space: nowrap;
            }
        }
        &__form {
            display: flex;
            flex-direction: column;
            border-top: 2px solid #546ce8;
            flex: 0.7 1;
            background: #FFFFFF;
            padding: 40px 30px;
            .Form {
                display: flex;
                flex-direction: row;
                &__title {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    flex: 0.2;
                }
                &__input {
                    margin-left: 55px;
                    input {
                        width: 300px;
                        height: 30px;
                        border: solid 1px #ddd;
                        padding-left: 5px;
                        margin-right: 10px;
                        border-radius: 5px;
                        margin-top: 10px;
                        outline: none;
                    }
                }
                &__radio {
                    margin-top: 20px;
                }
                &__select {
                    margin-left: 20px;
                    select {
                        width: 170px;
                        height: 20px;
                    }
                }
                &__infor {
                    margin-top: 20px;
                }
                &__button {
                    margin-top: 20px;
                    button {
                        padding: 0 25px;
                        line-height: 30px;
                        white-space: nowrap;
                        text-decoration: none;
                        text-shadow: 1px 1px 2px #666;
                        border: 0;
                        font-size: 14px;
                        display: inline-block;
                        background: #db0006;
                        color: #fff;
                        margin: 0;
                        font-weight: 700;
                        border-radius: 3px;
                        cursor: pointer;
                    }
                }
            }
        }
        @media screen and(max-width: 768px) {
            width: 75px;
        }
        @media screen and(max-width: 380px) {
            width: 75px;
        }
    }
    // .Title {
    //     font-size: 24px;
    //     font-weight: 300;
    // }
    // .Form {
    //     display: flex;
    //     flex-direction: column;
    // }
    // .Input {
    //     flex: 1;
    //     min-width: 40% 
    //     margin: 10px 0;
    //     padding: 10px;
    // }
    // .Button {
    //     width: 40%;
    //     border: none;
    //     padding: 15px 20px;
    //     background-color: teal;
    //     color: white;
    //     cursor: pointer;
    //     margin-bottom: 10px;
    // }
    // .Agreement {
    //     margin: 5px 0px;
    //     font-size: 12px;
    //     text-decoration: underline;
    //     cursor: pointer;
    // }
}