@import "../../../../src/sass/_variable";
@import "../../../../src/sass/_mixin";
.ContainerFooter {
    display: flex;
    @include respond(tablet) {
        width: 100%;
    }
    @include respond(phone) {
        width: 100%;
        //position: relative;
        //flex-direction: column;
    }
    .Left {
        flex: 1;
        display: flex;
        flex-direction: column;
        padding: 20px;
    }
    .Desc {
        margin: 20px 0px;
    }
    .SocialContainer {
        display: flex;
    }
    .Center {
        //flex: 1;
        padding: 20px;
    }
    .Title {
        margin-bottom: 30px;
    }
    .List {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
    }
    .ListItem {
        width: 50%;
        margin-bottom: 10px;
    }
    .Right {
        flex: 1;
        padding: 20px;
        @include respond(phone) {
            background-color: #f8f8f8;
        }
    }

}