@import "../../../../src/sass/variable";
@import "../../../../src/sass/mixin";
.header-menu-holder {
    height: 55vh;
    // background-color: pink;
    display: flex;
    flex-direction: row;
    &__space1 {
        flex: 0.06;
        background: #edeef2;
    }
    &__category {
        flex: 0.15 1;
        background-color: #FFFFFF;
        display: flex;
        flex-direction: column;
        .header-menu-category {
            height: 40px;
            // background: aqua;
            display: flex;
            flex-direction: row;
            &__img {
                flex: 0.5;
                // background: bisque;
                height: 40px;
                display: flex;
                align-items: center;
            }
            &__name {
                flex: 1;
                background: bisque;
                height: 40px;
                display: flex;
                align-items: center;
            }
        }
    }
    &__slide {
        flex: 0.5;
        background: #000000;
    }
    &__discount {
        flex: 0.23;
        background: aquamarine;
    }
    &__space2 {
        flex: 0.06;
        // background-color: aqua;
    }
}