@import "../../../../src/sass/variable";
@import "../../../../src/sass/mixin";
.ContainerNewletter {
    height: 40vh;
    background-color: $color-menu;
    @include flex-box-column-center();
    margin-top: 100px;
    @include respond(laptop) {
        height: 60vh;
    }
    @include respond(tablet) {
        height: 60vh;
        width: 100%;
    }
    @include respond(phone) {
        height: 60vh;
        width: 100%;
        position: relative;
    }
    .Title {
        font-size: 70px;
        margin-bottom: 20px;
        color: $color-white;
        @include respond(laptop) {
            font-size: 30px;
        }
    }
    .Desc {
        font-size: 24px;
        font-weight: 300;
        margin-bottom: 20px;
        color: $color-white;
        @include respond(phone) {
            text-align: center;
        }
    }
    .InputContainer {
        width: 100%;
        height: 40px;
        background-color: $color-white;
        display: flex;
        border: 1px solid lightgray;
        @include respond(phone) {
            width: 80%;
        }
    }
    .Input {
        border: none;
        flex: 8;
        padding-left: 20px;
        outline: none;
        border: none;
    }
    .Button {
        flex: 1;
        border: none;
        background-color: teal;
        color: $color-white;
    }
}