@import "../../../../src/sass/variable";
@import "../../../../src/sass/mixin";
.ContainerNewletter {
    height: 40vh;
    background-color: #3d52bf;
    display: flex;
    align-items: center;
    margin-top: 20px;
    justify-content: center;
    flex-direction: column;
    @include respond(laptop) {
        height: 60vh;
    }
    @media screen and (max-width: 768px) {
        height: 60vh;
        width: 167%;
    }
    @media screen and (max-width: 380px) {
        height: 60vh;
        width: 100%;
        position: relative;
    }
    .Title {
        font-size: 70px;
        margin-bottom: 20px;
        color: #FFFFFF;
        @include respond(laptop) {
            font-size: 30px;
        }
    }
    .Desc {
        font-size: 24px;
        font-weight: 300;
        margin-bottom: 20px;
        color: #FFFFFF;
        @media screen and (max-width: 380px) {
            text-align: center;
        }
    }
    .InputContainer {
        width: 50%;
        height: 40px;
        background-color: white;
        display: flex;
        justify-content: space-between;
        border: 1px solid lightgray;
        @media screen and (max-width: 380px) {
            width: 80%;
        }
    }
    .Input {
        border: none;
        flex: 8;
        padding-left: 20px;
        outline: none;
        border: none;
    }
    .Button {
        flex: 1;
        border: none;
        background-color: teal;
        color: white;
    }
}