.backgroundLogin{
  width: 100%;
  height: 100vh;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-content: center;
  position: relative;
  .formlogin{
    position: absolute;
    top: 200px;
    width: 350px;
    height: 250px;
    background-color: #61dafb;
    border-radius: 20px;
    &__username{
      width: 100%;
      height: 30px;
      display: flex;
      justify-content: center;
      align-content: center;
      input{
        width: 90%;
        border-radius: 5px;
        outline: none;
        border: none;
      }
    }
    &__password{
      margin-top: 20px;
      width: 100%;
      height: 30px;
      display: flex;
      justify-content: center;
      align-content: center;
      input{
        width: 90%;
        border-radius: 5px;
        outline: none;
        border: none;
      }
    }
    &__submit{
      margin-top: 20px;
      width: 100%;
      height: 30px;
      display: flex;
      justify-content: center;
      align-content: center;
      Button{
        width: 90%;
        border-radius: 5px;
        outline: none;
        border: none;
        cursor: pointer;
        color: #000000;
        background: lightgreen;
      }
    }
  }
}
