@import "../../../../src/sass/variable";
@import "../../../../src/sass/mixin";
.header-menu-holder {
    //height: 55vh;
    // background-color: pink;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 140px;
    @include respond(laptop) {
        margin-top: 200px;
    }
    &__space1 {
        flex: 0.06;
        background: #edeef2;
        @include respond(laptop) {
            flex: 0.04;
        }
    }
    &__category {
        flex: 0.15 1;
        background-color: #FFFFFF;
        display: flex;
        flex-direction: column;
        @include respond(laptop) {
            flex: 0.2;
        }
        .header-menu-category {
            height: 40px;
            // background: aqua;
            display: flex;
            flex-direction: row;
            &__img {
                flex: 0.5;
                // background: bisque;
                max-height: 24px;
                display: flex;
                align-items: center;
                img {
                    width: 35px;
                    text-align: center;
                }
            }
            &__Name {
                max-height: 24px;
                display: flex;
                justify-content: flex-start;
            }
        }
    }
    &__slide {
        flex: 0.5;
        // background: #000000;
        max-width: 100%;
        // height: 500px;
        // margin: 100px auto 0;
        position: relative;
        overflow: hidden;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
        @media screen and (max-width: 1000px) {
            &__slide {
                margin: 100px 10px 0;
            }
        }
        .slide {
            width: 100%;
            height: 100%;
            position: absolute;
            opacity: 0;
            transition: opacity ease-in-out 0.4s;
        }
        .slide img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
        .active-anim {
            opacity: 1;
        }
        .btn-slide {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background: #f1f1f1;
            border: 1px solid rgba(34, 34, 34, 0.287);
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }
        .btn-slide img {
            width: 25px;
            height: 25px;
            pointer-events: none;
        }
        .prev {
            top: 50%;
            left: 20px;
            transform: translateY(-60%);
        }
        .next {
            top: 50%;
            right: 20px;
            transform: translateY(-60%);
        }
        .container-dots {
            position: absolute;
            bottom: 10px;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
        }
        .dot {
            width: 30px;
            height: 5px;
            border-radius: 10%;
            border: 3px solid #FFFFFF;
            margin: 0 5px;
            background: #FFFFFF;
        }
        .dot.active {
            background: rgb(32, 32, 32);
        }
    }
    &__discount {
        flex: 0.23;
        // background: aquamarine;
        flex-direction: column;
        &--A {
            padding: 10px;
        }
    }
    &__space2 {
        flex: 0.06;
        background-color: #edeef2;
        @include respond(laptop) {
            flex: 0.04;
        }
    }
}