* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.containerProduct {
    // display: flex;
    // flex-direction: row;
    width: 100%;
    height: 500vh;
    position: relative;
    .topbar-Product {
        width: 100%;
        height: 130px;
        background: linear-gradient( -180deg, #f53d2d, #f63);
        position: fixed;
        display: flex;
        flex-direction: column;
        &__navbar-wrapper {
            flex: 0.35;
            display: flex;
            justify-content: center;
            .navbar-space {
                flex: 0.25;
            }
            .navbar-first {
                .ulbar-first li {
                    display: flex;
                    justify-content: center;
                    flex: 0.25;
                    display: inline;
                    width: 300px;
                    margin-left: 10px;
                }
            }
            .navbar-second {
                display: flex;
                justify-content: center;
                .ulbar-second li {
                    flex: 0.25;
                    display: inline;
                    width: 300px;
                    margin-left: 10px;
                }
            }
        }
        &__container-wrapper {
            flex: 0.65;
            display: flex;
            justify-content: center;
            flex-direction: row;
            // background-color: #f63;
            &__1 {
                flex: 0.15;
                // background: blue;
            }
            &__2 {
                display: flex;
                justify-content: center;
                flex-direction: row;
                flex: 0.7;
                // background: palegreen;
                .logo {
                    flex: 0.2;
                    background-color: aqua;
                }
                .Search {
                    flex: 0.7 1;
                    // background-color: #f53d2d;
                    display: flex;
                    flex-direction: column;
                    .Search-input {
                        flex: 0.7 1;
                        // background-color: black;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        &__Product {
                            background-color: white;
                            border-radius: 4px;
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            flex: 0.8;
                            form {
                                display: flex;
                                align-items: center;
                            }
                            .Container__Search {
                                #SearchField {
                                    outline: none;
                                    width: 42vw;
                                    /* flex: 2; */
                                    height: 8px;
                                }
                            }
                            #buttonSearch {
                                background: #f53d2d;
                                height: 34px;
                                padding: 0 15px;
                                min-width: 60px;
                                max-width: 190px;
                                display: flex;
                                align-items: center;
                            }
                        }
                    }
                    .menu-product {
                        flex: 0.3;
                        background-color: white;
                    }
                }
                .login {
                    flex: 0.1;
                    // background-color: blue;
                }
            }
            &__3 {
                flex: 0.15;
                // background: yellow;
            }
        }
    }
    .Product {
        width: 100%;
        height: 100vh;
        background-color: aqua;
    }
}