.ContainerModalComment {
    position: absolute;
    background: #FFFFFF;
    width: 90.5%;
    height: 100px;
    /* left: auto; */
    left: 89px;
    /* top: 10px; */
    /* bottom: 10px; */
    border: 1px solid black;
    margin-top: 76px;
    z-index: 3;
}