.cointainer__productDetail {
    background-color: #FFFFFF;
    border: 1px solid #3d52bf;
    width: 400px;
    height: 500px;
    position: absolute;
    /* top: 0px; */
    // top: -500px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    .productDetail__name {
        display: flex;
        justify-content: center;
        width: 400px;
        height: 70px;
        background-color: #3d52bf;
        align-items: center;
        span {
            color: #FFFFFF;
        }
    }
    .productDetail__price {
        display: flex;
        justify-content: left;
        span {
            color: red;
        }
    }
}