.Container{
  width: 100%;
  height: 300vh;
  background: #efefef;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .ItemDetail{
    width: 70%;
    height: 100vh;
    background: #FFFFFF;
    display: flex;
    flex-direction: row;
    .ItemDetailImage{
      background: #F2582E;
      flex:0.4;
      display: flex;
      flex-direction: column;
      .ItemDetailImageOne{
        flex: 0.6;
        display:flex;
        justify-content: center;
        align-items: center;
      }
      .ItemDetailImageTwo{
        background: black;
        flex:0.4;
      }
    }
    .ItemDetailImagPrice{
      display:flex;
      flex-direction: column;
      flex:0.6;
      .ItemDetailImageTitle{
        flex: 0.1;
        display: flex;
        justify-content: flex-start;
        border-bottom: 1px solid #000000;
      }
      .ItemDetailImageTitlePrice{
        flex: 0.05;
        display: flex;
        justify-content: flex-start;
        border-bottom: 1px solid #000000;
        align-items: center;
        align-content: center;
      }
      .ItemDetailImageProduct{
        background: white;
        flex: 0.5;
        border-bottom: 1px solid #000000;
      }
      .ItemDetailImagebuttonBuy{
        display: flex;
        justify-content: flex-start;
        align-item: center;
        button{
          margin: 100px;
          width: 260px;
          height: 50px;
          border: none;
          outline: none;
          cursor: pointer;
        }
      }
    }
  }
  .ItemRecommand{
    margin-top: 30px;
    width: 70%;
    height: 30vh;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    .ItemRecommandTitle{
      flex: 0.2;
      background: #FFFFFF;
      display: flex;
      justify-content: flex-start;
      overflow: hidden;
    }
    .ItemRecommandProductDetail{
      flex: 0.8;
      display: flex;
      flex-direction: row;
      overflow-y: auto;
      .ItemRecommandProductAll{
        margin: 4px;
        width: 200px;
        height: 100%;
        background: #FFFFFF;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        .ItemRecommandProductAll--img{
          width: 180px;
          height: 60%;
          background: lightgreen;
        }
      }
    }
  }
  .ItemInAll{
    margin-top: 50px;
    width: 70%;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    .ItemInformation{
      width: 100%;
      height: 100vh;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      justify-content: flex-start;
    }
    .ItemInformationTitle{
      background: white;
      flex: 0.05;
      width: 100%;
      height: 10%;
      display: flex;
      justify-content: center;
      align-content: center;
    }
    .ItemInformationContent{
      flex: 0.95;
      width: 100%;
      height: 90%;
      background: blue;
      display:flex;
      flex-direction: column;
      .ItemInformationFromDetail{
        flex: 1;
        background: #61dafb;
        overflow-y: scroll;
      }
    }
  }
  .img{
    width: 320px;
    height: 100vh;
  }
  .ItemDetailImagPrice{
    display:flex;
    flex-direction: column;
    flex:0.6;
  }
  .ItemDetailImagebuttonBuy{
    flex: 0.2;
    display: flex;
    justify-content: center;
    align-item: center;
  }

  .ItemInforDetail{
    margin-top: 30px;
    margin-left: 285px;
    width: 50%;
    height: 60vh;
    background: #FFFFFF;
  }
  .ItemInforReview{
    margin-top: 30px;
    width: 70%;
    height: 100vh;
    background: #FFFFFF;
    display:flex;
    flex-direction: column;
  }
  .ItemInforReviewTitle{
    background: #FFFFFF;
    flex:0.05;
  }
  .ItemInforReviewContentStar{
    flex:0.95;
    display:flex;
    flex-direction: column;
    overflow-y: scroll;
    .ItemInforReviewContentStarContainer{
      margin-top: 20px;
      display:flex;
      flex-direction: row;
      height: 30vh;
      .ItemInforReviewContentStarName{
        background: blue;
        flex:0.3;
        height: 30vh;
      }
      .ItemInforReviewContentStarContent{
        background: black;
        flex:0.7;
        height: 30vh;
      }
    }
  }
}
