@import "../../../../src/sass/variable";
@import "../../../../src/sass/mixin";
.Container__ProductDetail {
    background-color: $backgroundApp;
    padding: 0px 100px;
    box-sizing: border-box;
    margin-top: 140px;
    @include flex-box-start();
    @include respond(laptop) {
        margin-top: 240px;
        padding: 0px 50px;
    }
    .bg__white {
        background-color: $color-white;
        width: 100%;
        // height: 100vh;
        @include flex-box-row();
        .productimage {
            @include flex-box-column();
            flex: 0.3;
            // background-color: aqua;
            padding: 10px;
            &__img {
                display: -webkit-flex;
                flex: 0.4;
                width: 100%;
                height: 400px;
                // margin: 100px auto 0;
                position: relative;
                overflow: hidden;
                box-shadow: 0 10px 20px $box-shadow;
                @media screen and (max-width: 100%) {
                    &--img {
                        margin: 100px 10px 0;
                    }
                }
                .slide {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    opacity: 0;
                    transition: opacity ease-in-out 0.4s;
                }
                .slide img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
                .active-anim {
                    opacity: 1;
                }
                .btn-slide {
                    width: 50px;
                    height: 50px;
                    background: $color-btn;
                    // border: 1px solid rgba(34, 34, 34, 0.287);
                    border: none;
                    position: absolute;
                    cursor: pointer;
                    &--prev {
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;
                        top: 50%;
                        left: -25px;
                        border-radius: 0px 50px 50px 0px;
                        transform: translateY(-60%);
                    }
                    &--next {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        top: 50%;
                        right: -25px;
                        border-radius: 50px 0 0 50px;
                        transform: translateY(-60%)
                    }
                }
                .btn-slide img {
                    width: 25px;
                    height: 25px;
                    pointer-events: none;
                }
                .container-dots {
                    position: absolute;
                    bottom: 10px;
                    left: 50%;
                    transform: translateX(-50%);
                    display: flex;
                }
                .dot {
                    width: 30px;
                    height: 5px;
                    border-radius: 10%;
                    border: 3px solid $color-btn;
                    margin: 0 5px;
                    background: $color-btn;
                }
                .dot.active {
                    background: rgb(32, 32, 32);
                }
            }
            &__zoom {
                @include flex-box-column();
                flex: 0.13;
                // background-color: aquamarine;
                .productzoom__title {
                    display: flex;
                    background: #f3f3f3;
                    margin: 10px 0 20px 0;
                    // align-items: center;
                    position: relative;
                    height: 30px;
                    &--zoomTo {
                        @include flex-box-center();
                        color: $color-public;
                        flex: 0.9;
                        font-size: 12px;
                    }
                    &--sum {
                        @include flex-box-center();
                        flex: 0.1;
                        background-color: backgroundApp;
                    }
                }
            }
            &__detail {
                @include flex-box-column();
                flex: 0.57;
                margin-top: 20px;
                max-height: 350px;
                tr {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    flex: 0.07;
                    // background-color: backgroundApp;
                    td {
                        display: flex;
                        flex: 1;
                        height: 40px;
                    }
                }
                a {
                    z-index: 8;
                    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, $color-white 100%);
                    color: $color-public;
                    text-decoration: none;
                    text-transform: uppercase;
                }
            }
        }
        .productinfo {
            @include flex-box-column();
            flex: 0.4;
            // background-color: aqua;
            padding: 10px;
            &__title {
                @include flex-box-column();
                flex: 0.14;
                // background-color: blue;
                &--name {
                    display: flex;
                    flex: 0.5;
                    //background-color: white;
                    align-items: center;
                }
                &--code {
                    display: flex;
                    flex: 0.5;
                    //background-color: grey;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-around;
                    border-bottom: 1px solid $backgroundApp;
                }
            }
            &__detail {
                display: flex;
                flex: 0.2;
                //background-color: blanchedalmond;
                flex-direction: column;
                justify-content: flex-start;
                span {
                    display: flex;
                }
            }
            &__price {
                @include flex-box-column();
                flex: 0.05 !important;
                background-color: #edeef2;
                &--Listedprice {
                    display: flex;
                    flex: 0.4;
                    // background-color: #61dafb;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    h5 {
                        margin-left: 20px;
                    }
                    span {
                        text-decoration: line-through;
                        margin-left: 20px;
                    }
                }
                &--Promotionprice {
                    display: flex;
                    flex: 0.4;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    h5 {
                        margin-left: 20px;
                    }
                    b {
                        margin-left: 20px;
                        color: $color-red;
                        font-size: 15px;
                    }
                    span {
                        margin-left: 20px;
                    }
                }
            }
            &__promotion {
                display: flex;
                border: 1px solid $color-red;
                flex-direction: column;
                &--title {
                    padding: 6px 8px 7px 0;
                    position: relative;
                    display: flex;
                    border-bottom: 1px dashed $backgroundApp;
                    div {
                        display: flex;
                        color: $color-white;
                        font-weight: 700!important;
                        padding: 6px 48px 6px 33px;
                        display: inline-block;
                        position: relative;
                        background: $corlor-red-2;
                        clip-path: polygon(100% 0, 88% 52%, 100% 100%, 0% 100%, 0 50%, 0% 0%);
                    }
                    ul {
                        display: flex;
                    }
                    li {
                        display: flex;
                    }
                }
            }
            &__Insurance {}
            &__Buy {
                display: flex;
                justify-content: center;
                align-items: center;
                button {
                    transition: box-shadow .3s;
                    display: flex;
                    flex: 1;
                    background: $color-red;
                    border-color: $color-red;
                    border-radius: 5px;
                    justify-content: center;
                    align-items: center;
                    color: $color-white;
                    border: none;
                    outline: none;
                    cursor: pointer;
                    height: 50px;
                    flex-direction: column;
                    b {
                        text-transform: uppercase;
                        font-weight: bold;
                        font-size: 20px;
                    }
                    &:hover {
                        box-shadow: 0 0 11px rgba(33, 33, 33, .2);
                    }
                }
            }
            &__BuyCart {
                display: flex;
                flex-direction: row;
                margin-top: 10px;
                &--Installment {
                    transition: box-shadow .3s;
                    @include flex-box-center();
                    background: $color-public;
                    border-color: $color-public;
                    border-radius: 5px;
                    width: calc(50% - 5px);
                    color: $color-white;
                    border: none;
                    outline: none;
                    cursor: pointer;
                    height: 60px;
                    flex-direction: column;
                    b {
                        text-transform: uppercase;
                        font-weight: bold;
                        font-size: 20px;
                    }
                    &:hover {
                        box-shadow: 0 0 11px rgba(33, 33, 33, .2);
                    }
                }
                &--forCard {
                    transition: box-shadow .3s;
                    margin-left: 10px;
                    @include flex-box-center();
                    background: $color-white;
                    border-color: $color-public;
                    border-radius: 5px;
                    width: calc(50% - 5px);
                    color: $color-public;
                    border: 1px solid $color-public;
                    padding: 6px;
                    outline: none;
                    cursor: pointer;
                    height: 60px;
                    flex-direction: column;
                    b {
                        text-transform: uppercase;
                        font-weight: bold;
                        font-size: 20px;
                    }
                    &:hover {
                        box-shadow: 0 0 11px rgba(33, 33, 33, .2);
                    }
                }
            }
            &__AcceptPayment {
                margin-top: 30px;
                @include flex-box-start();
                span {
                    display: flex;
                    color: $color-public;
                    font-size: 19px;
                    font-weight: bold;
                    font-family: 'Times New Roman', Times, serif;
                }
                img {
                    width: 60%;
                    height: 50px;
                }
            }
        }
        .product__showroom {
            @include flex-box-column();
            flex: 0.3;
            padding: 10px;
            &--one {
                display: flex;
                flex: 0.03;
                // background: $color-public;
            }
            &--two {
                @include flex-box-column();
                flex: 0.3;
                background: blueGrey;
                h4 {
                    display: flex;
                }
                ul {
                    @include flex-box-column();
                    list-style-type: none;
                    li {
                        display: flex;
                    }
                }
            }
            &--three {
                display: flex;
                flex: 0.3;
                img {
                    max-width: 100%;
                    height: auto;
                }
            }
        }
    }
    .whitenews {
        @include flex-box-row();
        background-color: $color-white;
        width: 98%;
        margin-top: 2%;
        padding: 15px;
        // height: 100vh;
        &__productdetail {
            @include flex-box-column();
            flex: 0.65;
            &--title {
                display: flex;
                border-bottom: 1px solid $backgroundApp;
            }
            &--content {
                @include flex-box-column();
                .read-more-text {
                    display: none;
                }
                .read-more-text--show {
                    display: inline;
                }
                span {
                    display: flex;
                    background: -webkit-gradient(linear, left top, left bottom, from(transparent), to($color-white));
                    // height: 300px;
                }
                .productdetail__btn {
                    display: flex;
                    justify-content: center;
                    background: -webkit-gradient(linear, left top, left bottom, from(transparent), to($color-white));
                    button {
                        width: 150px;
                        height: 40px;
                        border-radius: 50px;
                        cursor: pointer;
                        background: white;
                        border: 1px solid $color-public;
                        color: $color-public;
                    }
                }
            }
        }
        &__involve {
            @include flex-box-column();
            flex: 0.35;
            padding: 0px 0px 0px 30px;
            &--titleoffer {
                display: flex;
                border-bottom: 1px solid backgroundApp;
            }
            &--content {
                @include flex-box-row();
                flex: 0.1;
                // background: $color-public;
                padding: 20px;
                .involve__img {
                    display: flex;
                    flex: 0.3;
                    img {
                        cursor: pointer;
                    }
                }
                .involve__content {
                    display: flex;
                    flex: 0.7;
                    span {
                        padding: 0px 0px 0px 14px;
                        font-weight: bold;
                        &:hover {
                            color: $color-public;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
    .whitenewscomment {
        @include flex-box-column();
        position: relative;
        background-color: $color-white;
        width: 63%;
        margin-top: 2%;
        padding: 15px;
        &__title {
            display: flex;
            border-bottom: 1px solid $backgroundApp;
        }
        &__content {
            margin-top: 10px;
            @include flex-box-row();
            &--img {
                display: flex;
                flex: 0.07;
                img {
                    height: 40px;
                }
            }
            &--text {
                display: flex;
                flex: 0.93;
                textarea {
                    width: 100%;
                    height: 70px;
                }
            }
        }
    }
    .whiteProductList {
        @include flex-box-column();
        background-color: $color-white;
        width: 100%;
        height: 50vh;
        margin-top: 40px;
        position: relative;
        overflow: hidden;
        &__title {
            @include flex-box-row();
            /* flex: 0.05 1; */
            // background: #546ce8;
            padding: 0 20px;
            height: 50px;
            align-items: center;
            position: relative;
            border-bottom: 1px solid $backgroundApp;
            .product__similar {
                color: #999999;
                margin-left: 20px;
                // &:hover::after {
                //     width: 100%;
                // }
                &:hover::after {
                    content: "";
                    height: 3px;
                    width: 0;
                    background: #009688;
                    position: absolute;
                    left: 0;
                    bottom: -10px;
                    transition: 0.5s;
                }
            }
        }
        &__content {
            display: flex;
            flex: 2;
            .pre-btn,
            .nxt-btn {
                border: none;
                width: 5vw;
                height: 100%;
                position: absolute;
                top: 0;
                @include flex-box-center();
                background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, $color-white 100%);
                cursor: pointer;
                z-index: 8;
            }
            .pre-btn {
                left: 0;
                transform: rotate(180deg);
            }
            .nxt-btn {
                right: 0;
            }
            .pre-btn img,
            .nxt-btn img {
                opacity: 0.2;
                position: absolute;
                top: 255px;
            }
            .pre-btn:hover img,
            .nxt-btn:hover img {
                opacity: 1;
            }
            .product {
                position: relative;
                overflow: hidden;
                padding: 20px;
                .product-container {
                    // padding: 0 10vw;
                    display: flex;
                    overflow-x: auto;
                    scroll-behavior: smooth;
                    &::-webkit-scrollbar {
                        display: none;
                    }
                    .product-card:hover .card-btn {
                        opacity: 1;
                    }
                    .product-card {
                        flex: 0 0 auto;
                        width: 250px;
                        height: 450px;
                        margin-right: 40px;
                        .product-image {
                            .card-btn {
                                position: absolute;
                                bottom: 10px;
                                left: 50%;
                                transform: translateX(-50%);
                                padding: 10px;
                                width: 90%;
                                text-transform: capitalize;
                                border: none;
                                outline: none;
                                background: $color-white;
                                border-radius: 5px;
                                transition: 0.5s;
                                cursor: pointer;
                                opacity: 0;
                            }
                            .card-btn:hover {
                                background: $color-red-1;
                                color: $color-white;
                            }
                            position: relative;
                            width: 100%;
                            height: 250px;
                            overflow: hidden;
                            .product-thumb {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                            .discount-tag {
                                position: absolute;
                                background: $color-white;
                                padding: 5px;
                                border-radius: 5px;
                                color: $color-red-1;
                                right: 10px;
                                top: 10px;
                                text-transform: capitalize;
                            }
                        }
                        .product-info {
                            width: 100%;
                            height: 100px;
                            padding-top: 10px;
                            .product-brand {
                                text-transform: uppercase;
                            }
                            .product-short-description {
                                width: 100%;
                                height: 20px;
                                line-height: 20px;
                                overflow: hidden;
                                opacity: 0.5;
                                text-transform: capitalize;
                                margin: 5px 0;
                            }
                            .price {
                                font-weight: 900;
                                font-size: 20px;
                            }
                            .actual-price {
                                margin-left: 20px;
                                opacity: 0.5;
                                text-decoration: line-through;
                            }
                        }
                    }
                }
            }
        }
    }
}