@import "../../../../src/sass/variable";
@import "../../../../src/sass/mixin";

.ContainerAnnouncement {
  height: 30px;
  background-color: $color-menu;
  color: $color-white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 14px;
  font-weight: 500;
  width: $width-public;
  position: fixed;
  z-index: 8;
  @include respond(laptop) {

  }
  @include respond(ipad-pro) {
    width: $width-public;
    height: 50px;
  }
  @include respond(tablet) {
    width: $width-public;
  }
  @include respond(phone) {
    width: $width-public;
    height: 50px;
    position: relative;
    top: 20px;
  }
  .AnnouncementFlash {
    display: flex;
    flex: 0.4;
    @include respond(ipad-pro) {
      display: flex;
      flex: 0.1;
    }
  }

  .Announcement {
    display: flex;
    justify-content: flex-end;
    flex: 1;

    span {
      width: $width-public;
      height: $width-public;
      position: relative;
      animation: mymove 15s infinite;
      text-align: right;
    }

    @keyframes mymove {
      0% {
        right: 100px;
      }
      25% {
        right: 300px;
      }
      75% {
        right: 550px
      }
      100% {
        right: 650px;
      }
    }
  }

  .AnnouncementTab {
    //flex: 0.8;
  }

  .span {
    height: 30px;
    width: 20px;
  }

  .link {
    text-decoration: none;
    color: $color-white;
  }
}