@import "../../../../src/sass/_variable";
@import "../../../../src/sass/_mixin";
.Container-ForgotPassword {
    margin-top: 140px;
    width: 100%;
    // background-color: aqua;
    display: flex;
    flex-direction: column;
    padding: 40px;
    @include respond(laptop) {
        margin-top: 220px;
    }
    .itemForgot {
        display: flex;
    }
    .itemEnterAddress {
        display: flex;
        flex-direction: row;
        span {
            display: flex;
            flex: 0.5;
        }
        &__formTakePassword {
            display: flex;
            flex-direction: column;
            input {
                width: 300px;
            }
            button {
                border: none;
                outline: none;
                background: none;
                margin-top: 20px;
                text-align: left;
            }
        }
    }
}