@import "../../../../src/sass/_variable";
@import "../../../../src/sass/_mixin";
.Container-Login {
    @include margin-top(170px);
    @include respond(laptop) {
        margin-top: 200px;
    }
    @include respond(surface) {
        margin-top: 200px;
    }
    .title {
        @include flex-box-column();
        width: 80%;
        // background: black;
        /* width: auto; */
        flex: 0.12 1;
    }
    .Wrapper {
        @include flex-box-column();
        flex: 0.7;
        @include respond(tablet){
            width: 75px;
        }
        @include respond(phone){
            width: 75px;
        }
        &__login {
            @include flex-box-center();
            flex: 0.15 1;
            background: $color-public;
            padding: 0 20px;
            width: 12%;
            @include respond(laptop) {
                padding: 0 70px;
                width: 100px;
            }
            border-radius: 0 15px 0px 0;
            span {
                color: $color-white;
                font-size: 18px;
                text-transform: uppercase;
                white-space: nowrap;
            }
        }
        &__Form {
            display: flex;
            flex-direction: column;
            border-top: 2px solid $color-public;
            // flex: 0.7 1;
            background: $color-white;
            flex-direction: row;
            @include respond(Desktop-All) {
                height: 300px;
            }
            @include respond(laptop) {
                height: 300px;
            }
            &--login {
                // background: #546ce8;
                @include flex-box-column();
                flex: 0.55;
                .Form__login--title {
                    display: flex;
                    flex: 0.2;
                    align-items: center;
                    margin: 10px;
                }
                .Form__login--email {
                    display: flex;
                    flex: 0.2;
                    // background-color: $color-white;
                    align-items: center;
                    span {
                        margin: 10px;
                    }
                    .loginemail__input {
                        display: flex;
                        // margin-left: 120px;
                        font-size: 19px;
                        outline: none;
                        .iconPassword {
                            margin: auto;
                        }
                        span {
                            margin: 10px;
                        }
                        input {
                            // margin-left: 50px;
                            font-size: 19px;
                            outline: none;
                            // border: none;
                            width: 300px !important;
                        }
                    }
                }
                .Form__login--password {
                    @include flex-box-row();
                    flex: 0.2;
                    // background-color: #edeef2;
                    align-items: center;
                    .loginemail__input {
                        display: flex;
                        // border: 1px solid black;
                        font-size: 19px;
                        outline: none;
                        position: relative;
                        .iconPassword {
                            margin: auto;
                            position: absolute;
                            left: 265px;
                            top: 5px;
                        }
                        input {
                            @include margin-left(50px);
                            @include font-size(19px);
                            outline: none;
                            width: 300px !important;
                        }
                    }
                    .namePassword {
                        margin: 10px;
                    }
                }
                .Form__login--forgot {
                    display: flex;
                    // background-color: #000000;
                    button {
                        border: none;
                        outline: none;
                        border-radius: 4px;
                        height: 40px;
                        @include margin-left(135px);
                        @include margin-top(10px);
                    }
                    span {
                        margin-left: 20px;
                    }
                }
            }
            &--signUp {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                flex: 0.45;
                .Form__signUp--member {
                    display: flex;
                    flex: 0.2;
                    align-items: center;
                    span {
                        color: rgb(88, 88, 88);
                    }
                }
                .Form__signUp--membermany {
                    display: flex;
                    flex: 0.2;
                    align-items: center;
                }
                .Form__signUp--account {
                    display: flex;
                    flex: 0.2;
                    align-items: center;
                    span {
                        color: #546ce8;
                    }
                }
            }
        }
    }
}