@import "../../../../src/sass/variable";
@import "../../../../src/sass/mixin";
.p-container {
    width: 100%;
    height: 850px;
    background-color: #edeef2;
    display: flex;
    flex-direction: center;
    justify-content: center;
    .box-center {
        background-color: $white;
        width: 88%;
        height: 850px;
        display: flex;
        flex-direction: column;
        &__title {
            flex: 0.07;
            background-color: aquamarine;
            display: flex;
            flex-direction: row;
        }
        .box-center__titleProductSpeed {
            display: flex;
            flex: 0.4;
            background: #546ce8;
            color: #fff;
            width: 713px;
        }
        &__content {
            flex: 0.83;
            // background-color: blue;
            display: flex;
            flex-direction: column;
            &--product {
                width: 100%;
                display: flex;
                flex: 0.5;
                display: flex;
                flex-direction: row;
                .product--detail {
                    // background-color: burlywood;
                    display: flex;
                    flex: 0.17;
                    flex-direction: column;
                    &__img {
                        display: flex;
                        flex: 0.6;
                        position: relative;
                    }
                    &__Code {
                        display: flex;
                        flex: 0.1;
                    }
                    &__Name {
                        display: flex;
                        flex: 0.1;
                    }
                    &__pricePromotion {
                        display: flex;
                        flex: 0.1;
                    }
                    &__price {
                        display: flex;
                        flex: 0.1;
                        font-size: 18px;
                        color: #ce0707;
                        font-weight: 500;
                    }
                }
            }
        }
        &__seeMore {
            flex: 0.1;
            // background-color: aquamarine;
            display: flex;
            justify-content: center;
            align-items: center;
            .button__seemore {
                width: 230px;
                color: #3d52bf;
                border: 1px solid #3d52bf;
                text-transform: uppercase;
                padding: 14px;
                text-decoration: none;
                &:hover {
                    background-color: #3d52bf;
                    color: #FFFFFF;
                }
            }
        }
    }
}