@import "../../../../src/sass/variable";
@import "../../../../src/sass/mixin";
.p-container {
    width: 100%;
    background-color: #edeef2;
    display: flex;
    margin-top: 20px;
    flex-direction: center;
    justify-content: center;
    .box-center {
        background-color: $white;
        width: 88%;
        height: 850px;
        display: flex;
        flex-direction: column;
        &__title {
            display: flex;
            flex-direction: row;
            height: 45px;
            &--ProductSpeed {
                align-items: center;
                display: flex;
                flex: 0.16;
                background: #546ce8;
                clip-path: polygon(0 0, 100% 0%, 74% 100%, 0% 100%);
                color: #fff;
            }
        }
        &__content {
            flex: 0.93;
            // background-color: blue;
            display: flex;
            flex-direction: column;
            &--product {
                flex-wrap: wrap;
                display: flex;
                flex: 0.5;
                display: flex;
                flex-direction: row;
                .product--detail {
                    width: calc(100% /6.78);
                    // background-color: burlywood;
                    display: flex;
                    flex: 0.17;
                    flex-direction: column;
                    position: relative;
                    &__img {
                        display: flex;
                        flex: 0.6;
                        position: relative;
                    }
                    &__Code {
                        display: flex;
                        flex: 0.1;
                    }
                    &__Name {
                        display: flex;
                        flex: 0.1;
                        .detailName__link {
                            display: flex;
                            color: black;
                            font-size: 15px;
                            font-weight: bold;
                            text-decoration: none;
                            &:hover {
                                color: #3d52bf;
                                font-size: 15px;
                                font-weight: bold;
                            }
                        }
                    }
                    &__pricePromotion {
                        display: flex;
                        flex: 0.1;
                    }
                    &__price {
                        display: flex;
                        flex: 0.1;
                        font-size: 18px;
                        color: #ce0707;
                        font-weight: 500;
                    }
                }
            }
        }
        &__seeMore {
            flex: 0.1;
            // background-color: aquamarine;
            display: flex;
            justify-content: center;
            align-items: center;
            .button__seemore {
                width: 230px;
                color: #3d52bf;
                border: 1px solid #3d52bf;
                text-transform: uppercase;
                padding: 6px;
                text-decoration: none;
                &:hover {
                    background-color: #3d52bf;
                    color: #FFFFFF;
                }
            }
        }
    }
}