$color-public:#546ce8;
$color-white: #FFFFFF;
$color-red: #ce0707;
$color-red-1: #ff7d7d;
$corlor-red-2: #e05353;
$color-black: #000000;
$color-btn: #f1f1f1;
$center:center;
$white: #FFFFFF;
$backgroundApp:#edeef2;
$width-public: 100%;
$box-shadow: rgba(0, 0, 0, 0.2);