$color-public: #546ce8;
$color-menu:#3d52bf;
$color-white: #FFFFFF;
$color-red: #ce0707;
$color-red-1: #ff7d7d;
$color-red-2: #e05353;
$color-black: #000000;
$color-btn: #f1f1f1;
$color-title-login: #5e6c84;
$color-tree: #5AAC44;
$color-shadow-login: #1670BE;
$color-sky: #61dafb;
$center: center;
$white: #FFFFFF;
$backgroundApp: #edeef2;
$width-public: 100%;
$box-shadow: rgba(0, 0, 0, 0.2);